#container {
    display: grid; 
    /* grid-auto-flow: row;  */
    grid-template-columns: 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px;
    grid-template-rows: 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px;
    background-color:rgb(247, 245, 243);
}
