* {
    box-sizing: border-box;
}

body{
    font-family: 'Roboto','sans-serif';
    background-color:#333;
    margin: 0px;
}

.main{
    display:flex;
    justify-content:space-evenly;
    margin-top: 50px;
}
#container {
    background-color: white;
}

.header{
    margin-top: 30px;
    font-size:60px;
    color: #d3c334;
    text-align: center;
}
#container div {
    aspect-ratio: 1 / 1; 
}

#container > *{
    min-width: 0px;
    min-height: 0px;
}

.btn-container {
    text-align: center;
}

button {
    display: block;
    margin-bottom: 15px;
    border: 2px solid black; 
    border-radius: 5px; 
    padding: 10px 20px;
    width: -webkit-fill-available; 
    transition-duration: 0.2s;
}

button:hover{background-color: rgb(210, 209, 209);}

button:focus{
    color:white;
    font-weight:bold;
    background-color: rgb(142, 142, 142);
}

